.header {
  display: flex;
  min-height: 80px;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.bg_image {
  height: 55px;
  width: 55px;
  margin-left: clamp(10px, 2vw, 60px);
  display: flex;
  background-image: url("../../assets/Header_Ico/Myntra_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-drag: none;
}
/* logo sections ends here */
/* ------------------------- */
/* Navigation seciton start from here */
.nav_container {
  position: relative;
  flex-grow: 3;
  height: 80px;
}
.navbar {
  height: 100%;
  width: fit-content;
  min-width: 523px;
  /* width: fit-content; */
  margin: 0px 02vw 0px 04vw;
}
.navbar ul {
  height: 100%;
  display: flex;
}
.navbar ul li {
  height: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #282c3f;
}
.nav_container ul li:nth-child(1):hover {
  border-bottom: 4px solid #ee5f73;
  padding-top: 4px;
}
.nav_container ul li:nth-child(2):hover {
  padding-top: 4px;
  border-bottom: 4px solid #fb56c1;
}
.nav_container ul li:nth-child(3):hover {
  padding-top: 4px;
  border-bottom: 4px solid #f26a10;
}
.nav_container ul li:nth-child(4):hover {
  padding-top: 4px;
  border-bottom: 4px solid #f2c210;
}
.nav_container ul li:nth-child(5):hover {
  padding-top: 4px;
  border-bottom: 4px solid #0db7af;
}
.nav_container ul li:nth-child(6):hover {
  padding-top: 4px;
  border-bottom: 4px solid #ff3f6c;
}
.navbar ul li a {
  /* padding: 0px 17px 28px; */
  padding: 0px 0.9vw;
  text-decoration: none;
  color: #282c3f;
  font-weight: 700;
  font-size: 14px;
  color: inherit;
}
.navbar ul li a sup {
  font-size: 80%;
  color: #ff3f6c;
}
/* Navgation ends here */
/* ------------------ */
/* Search section starts here */
.search_section {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f6;
  flex-grow: 1;
}
.search_section input {
  padding: 8px 10px 10px;
  height: 40px;
  width: clamp(400px, 20vw, 600px);
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #f5f5f6;
}
.search_section img {
  height: 14.7px;
  width: 14.7px;
  padding: 0px 20px;
  user-select: none;
  -webkit-user-drag: none;
}
/* Search section end here */
/* ------------------ */
/* UserSection */
.user_sections {
  height: 100%;
  width: 194px;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 0px;
  margin: 0px 1.5vw 0px 1.5vw;
}
.user_sections div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_sections div span {
  margin: auto;
}
.user_sections div span img {
  height: 24px;
  width: 24px;
  -webkit-user-drag: none;
}
.user_sections div span {
  font-size: 12px;
  font-weight: 700;
}
